<div id="page-head">
  <div id="page-title">
    <h1 class="page-header text-overflow">添加 管理员/销售</h1>
  </div>
  <ol class="breadcrumb">
    <li><i class="ion-home"></i></li>
    <li>用户管理</li>
    <li>管理员/销售 列表</li>
    <li class="active">添加 管理员/销售</li>
  </ol>
</div>
<div id="page-content">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <%= form_tag("/admin/admins", method: :post, class: 'form-horizontal', id: 'admins-edit') do -%>
      <div class="panel">
        <div class="panel-body">
          <div class="pad-btm form-inline">
            <div class="row">
              <div class="col-sm-12 table-toolbar-left">
                <%== return_list_tag %>
                <hr/>
              </div>
            </div>
          </div>
          
          <p class="text-main text-center text-bold mar-no">添加 管理员/销售 信息</p><br>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 登录账号</label>
              <div class="col-sm-6">
                <%= text_field_tag 'user_name', params[:user_name], placeholder: "登录账号", class: "form-control", autocomplete: 'off' %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 密码</label>
              <div class="col-sm-6">
                <%= password_field_tag 'password', nil, placeholder: "密码", class: "form-control", autocomplete: 'off' %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 真实姓名</label>
              <div class="col-sm-6">
                <%= text_field_tag 'true_name', params[:true_name], placeholder: "真实姓名", class: "form-control", autocomplete: 'off' %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 手机号码</label>
              <div class="col-sm-6">
                <%= text_field_tag 'mobile', params[:mobile], placeholder: "手机号码", class: "form-control", autocomplete: 'off' %>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">电子邮箱</label>
              <div class="col-sm-6">
                <%= text_field_tag 'email', params[:email], placeholder: "电子邮箱", class: "form-control", autocomplete: 'off' %>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">管理者身份</label>
              <div class="col-sm-6">
                <select name='role' class="form-control">
                  <%== options_for_select(Hash[Admin::CREATE_ADMIN_ROLE].invert, params[:role] ) %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <%== submit_save %>
            </div>
          </div>
        </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>