<div id="page-head">
  <div id="page-title">
    <h1 class="page-header text-overflow">编辑供应商</h1>
  </div>
  <ol class="breadcrumb">
    <li><i class="ion-home"></i></li>
    <li>基础数据</li>
    <li>产品管理</li>
    <li>供应商管理</li>
    <li class="active">编辑 <%== @vendor.name %></li>
  </ol>
</div>
<div id="page-content">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="panel">
        <%= form_tag("/admin/bulk_wine_vendors/#{@vendor.id}", method: :put, class: 'form-horizontal', id: 'bulk_wine_vendors-edit') do -%>
        <div class="panel-body">
          <div class="pad-btm form-inline">
            <div class="row">
              <div class="col-sm-12 table-toolbar-left">
                <%== return_list_tag %>
                <hr/>
              </div>
            </div>
          </div>
          
          <p class="text-main text-center text-bold mar-no">编辑 「<%== @vendor.name %>」 信息</p><br>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 供应商编码</label>
              <div class="col-sm-6">
                <%= text_field_tag 'vendor_code', @vendor.vendor_code, class: "form-control"%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 供应商名称</label>
              <div class="col-sm-6">
                <%= text_field_tag 'name', @vendor.name, class: "form-control"%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 地址</label>
              <div class="col-sm-6">
                <%= text_field_tag 'address', @vendor.address, class: "form-control"%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 联系方式</label>
              <div class="col-sm-6">
                <%= text_field_tag 'telphone', @vendor.telphone, class: "form-control"%>
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <%== submit_save %>
            </div>
          </div>
        </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>