<div id="page-head">
  <div id="page-title">
    <h1 class="page-header text-overflow">添加客户</h1>
  </div>
  <ol class="breadcrumb">
    <li><i class="ion-home"></i></li>
    <li>用户管理</li>
    <li>客户列表</li>
    <li class="active">添加客户</li>
  </ol>
</div>
<div id="page-content">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="panel">
        <%= form_tag("/admin/users", method: :post, class: 'form-horizontal', id: 'users-edit') do -%>
        <div class="panel-body">
          <div class="pad-btm form-inline">
            <div class="row">
              <div class="col-sm-12 table-toolbar-left">
                <%== return_list_tag %>
                <hr/>
              </div>
            </div>
          </div>
          <p class="text-main text-center text-bold mar-no">添加客户信息</p><br>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 客户代码（必填）</label>
              <div class="col-sm-6">
                <%= text_field_tag 'user_name', params[:user_name], placeholder: "客户代码", class: "form-control"%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 真实姓名</label>
              <div class="col-sm-6">
                <%= text_field_tag 'name', params[:name], placeholder: "真实姓名", class: "form-control"%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 性别</label>
              <div class="col-sm-6">
                <div class="radio">
                  <input id="sex-radio-0" class="magic-radio" type="radio" name="sex" value="0" <%== "checked = 'checked'" if params[:sex].to_i == 0 %>>
                  <label for="sex-radio-0">男</label>
                  <input id="sex-radio-1" class="magic-radio" type="radio" name="sex" value="1" <%== "checked = 'checked'" if params[:sex].to_i == 1 %>>
                  <label for="sex-radio-1">女</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 公司名称</label>
              <div class="col-sm-6">
                <input type="text" name='company' placeholder="公司名称" class="form-control" value="<%== params[:company] %>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 名称缩写</label>
              <div class="col-sm-6">
                <input type="text" name="company_code" placeholder="名称缩写" class="form-control" value="<%== params[:company_code] %>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 联系电话</label>
              <div class="col-sm-6">
                <input type="text" name='telphone' placeholder="联系电话" class="form-control" value="<%== params[:telphone] %>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><b class="text-danger">*</b> 电子邮箱</label>
              <div class="col-sm-6">
                <input type="text" name='email' placeholder="电子邮箱" class="form-control" value="<%== params[:email] %>">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">分配销售</label>
              <div class="col-sm-6">
                <select class="selectpicker form-control" name="admin_id">
                  <option value="">请选择</option>
                  <%== options_for_select(Hash[Admin.sellers_pluck].invert, @admin_session.id) %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">地址</label>
              <div class="col-sm-6">
                <input type="text" name='address' placeholder="地址" class="form-control" value="<%== params[:address] %>">
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <%== submit_save %>
            </div>
          </div>
        </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
<!--===================================================-->
<!--End page content-->