<div id="page-head">
  <div id="page-title">
    <h1 class="page-header text-overflow">添加产品库存</h1>
  </div>
  <ol class="breadcrumb">
    <li><i class="ion-home"></i></li>
    <li>数据配置</li>
    <li class="active">添加产品库存</li>
  </ol>
</div>
<div id="page-content">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <%= form_tag("/admin/bulk_wine_stocks/#{@bulk_wine_stock.id}/stock_add", method: :post, class: 'form-horizontal', id: 'stocks-edit') do -%>
        <div class="panel-body">
          <div class="pad-btm form-inline">
            <div class="row">
              <div class="col-sm-12 table-toolbar-left">
                <%== return_list_tag %>
                <hr/>
              </div>
            </div>
          </div>
          <p class="text-main text-center text-bold mar-no">添加 「<%== @bulk_wine_stock.bulk_wine.code %>」 产品库存</p><br>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-4 control-label" >总库存</label>
              <div class="col-sm-8 control-label text-left"> 瓶</div>
              <label class="col-sm-4 control-label" >已销量</label>
              <div class="col-sm-8 control-label text-left"><%= @bulk_wine_stock.sold_count.ts %> 瓶</div>
              <label class="col-sm-4 control-label" >在谈数量</label>
              <div class="col-sm-8 control-label text-left"><%= @bulk_wine_stock.selling_count.ts %> 瓶</div>
              <label class="col-sm-4 control-label" >可销售</label>
              <div class="col-sm-8 control-label text-left"><%= @bulk_wine_stock.can_sell_stock.ts %> 瓶</div>
              <label class="col-sm-4 control-label" >下单起量</label>
              <div class="col-sm-8 control-label text-left"><%= @bulk_wine_stock.min_number.ts %> 瓶</div>
              <label class="col-sm-4 control-label" >自定义起量</label>
              <div class="col-sm-8 control-label text-left"><%= @bulk_wine_stock.custom_number.ts %> 瓶</div>
            </div>
            <hr/>
            <div class="form-group">
              <label class="col-sm-4 control-label" >增加库存（瓶）</label>
              <div class="col-sm-3">
                <%= text_field_tag 'stock', params[:stock], class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
              <button type='submit' class="btn btn-info btn-labeled"><i class="btn-label ion-archive"></i> 保存</button>
            </div>
          </div>
        </div>
        <% end -%>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">添加库存记录</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-vcenter">
            <thead>
              <tr>
                <th width="33%">操作时间</th>
                <th width="33%" class="text-center">操作人</th>
                <th width="33%" class="text-center">添加瓶数</th>
              </tr>
            </thead>
            <tbody>
              <% @bulk_wine_stock.bulk_wine.stock_logs.map do |stock|%>
              <tr>
                <td><%== stock.created_at.to_ymd %></td>
                <td class="text-center"><%== stock.admin.show_name %></td>
                <td class="text-center"><%== stock.stock %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>