<div id="page-head">
  <div id="page-title">
    <h1 class="page-header text-overflow">产品管理</h1>
  </div>
  <ol class="breadcrumb">
    <li><i class="ion-home"></i></li>
    <li>官网产品配置</li>
    <li class="active">产品管理</li>
  </ol>
</div>
<div id="page-content">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">产品列表</h3>
    </div>
    
    <div class="panel-body">
      <div class="pad-btm form-inline">
        <%= form_tag("/admin/web_products", method: :get) do -%>
        <div class="row">
          <div class="col-sm-3 table-toolbar-left">
            <%== new_btn_tag "/admin/web_products/new", '添加产品分类' %>
          </div>
          <div class="col-sm-9 table-toolbar-right">
            <div class="form-group">
              <%= text_field_tag 'q', params[:q], placeholder: '搜索名称', class: "form-control"%>
            </div>
            <%== submit_tag %>
            <%== clear_tag "/admin/web_products" %>
          </div>
        </div>
        <% end -%>
      </div>
      <%= render 'admin/web_products/list' %>
      <div class="row">
        <%== table_footer_tag @web_products %>
      </div>
    </div>
  </div>
</div>